<template>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">Feedback Form</div>
            <div class="alert alert-success" v-if="savingSuccessful">
                {{ savingSuccessful }}
            </div>
            <form v-on:submit="saveForm()">
                <div class="col-xs-12 form-group">
                    <label class="control-label">Name</label>
                    <input type="text" v-model="form.name" class="form-control">
                    <div v-if="errors.name" class="error-message">{{errors.name}}</div>
                </div>

                <div class="col-xs-12 form-group">
                    <label class="control-label">Phone</label>
                    <input type="text" v-model="form.phone" class="form-control">
                    <div v-show="errors.phone" class="error-message">{{errors.phone}}</div>
                </div>

                <div class="col-xs-12 form-group">
                    <label class="control-label">Message</label>
                    <textarea name="message" class="form-control" v-model="form.message" cols="22" rows="5"/>
                    <div v-show="errors.message" class="error-message">{{errors.message}}</div>
                </div>

                <div class="col-xs-12 form-group">
                    <button class="btn btn-success">Create</button>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                form: {
                    name: '',
                    phone: '',
                    message: '',
                },
                errors: {},
                savingSuccessful: null
            }
        },
        methods: {
            saveForm() {
                this.errors = {};
                this.savingSuccessful = null;
                event.preventDefault();
                const form = this.form;
                axios.post('/api/create', form)
                    .then((resp) => {
                        this.savingSuccessful = resp.data.message;
                        this.form ={}
                    }).catch(e => {
                    const errorMessage = e.response.data.message;
                    const messages = {};
                    if ('message' in errorMessage) {
                        messages['message'] = errorMessage['message'][0]
                    }
                    if ('name' in errorMessage) {
                        messages['name'] = errorMessage['name'][0]
                    }
                    if ('phone' in errorMessage) {
                        messages['phone'] = errorMessage['phone'][0]
                    }
                    this.errors = messages;
                });
            }
        }
    }
</script>

<style>
    .error .error-message {
        display: inline-block;
    }

    .error-message {
        color: #cc0033;
        display: inline-block;
        font-size: 12px;
        line-height: 15px;
        margin: 5px 0 0;
    }
</style>
